body{
    margin: 0;
    padding: 0;
}

main{
    background-color: #e5e5e5;
    padding: 0 20px;
}

footer{
    background-color: #312783;
    color: #fff;
}

svg{
    width: 30px;
    height: 30px;
}

.nav-header{
    border-top: 3px solid #5271ff;
    border-bottom: 5px solid #5271ff;
}

.main{
    background-color: white;
}

.titulo-jumb{
    margin-top: 2rem;
}

.titulo{
    font-weight: 500;
    color: #007bff;
}

.titulo-form{
    border-top: 2px solid red; 
    border-bottom: 2px solid red;
    background-color: #312783; 
    color: #fff;
}

#titulo-ouvidoria{
    background-color: #5271ff; 
    width: 100%;
}

.subtitulo{
    width: 100%;
    padding: 1rem 3rem;
    border-bottom: 1.75px groove black;
    margin-bottom: 1rem;
}

#subtitulo-carrosel{
    margin-top: 2rem;
}

.texto{
    width: 100%;
    padding: 1rem 3rem;
}

.figura{
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.logo-uepa{
    width: 185px;
    height: 95px;
}

.logo-curso{
    width: 225px;
    height:115px;
}

.botao{
    align-self: flex-start;
    margin: 1rem 0 2rem 3rem;
}

.link-box{
    gap: 1rem;
    margin-left: 1rem;
}

.link-header{
    font-size: 1.035rem;
}
